!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title= content_for(:page_title) || 'FunBoxTestApp'
    /= favicon_link_tag
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all', async: true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    .container

      = render 'header'

      = render 'notification'

      .container
        .row
          .col-md-9
            = yield
          .col-md-3
            = render Currency.current

      = render 'footer'
